/*AQUI IMPORTEI A FONTE QUE USEI PARA OS CAMPOS*/
	@import url('https://fonts.googleapis.com/css?family=PT+Serif');
	@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');/*font-family: 'Merriweather', serif;*/
	@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
/*------------------------------------------------------------------------------*/
/*                 ESTILIZACAO DO CABEÇALHO LINK PARA HOME                      */
/*------------------------------------------------------------------------------*/
/*AQUI É UM LINK QUE REDIRECIONA PARA A HOME*/
		.home {text-decoration:none;
		display: flex;
		align-items: center;
		}
		#home {font-size:20px;display: flex;justify-content: flex-end;}
   
		#home a:hover {background:rgb(102, 153, 204,0.7)}
		#home a:visited {color: #35e3e7;}	
	
/*------------------------------------------------------------------------------*/
/*                      ESTILIZACAO DA INDEX  EM GERAL                          */
/*------------------------------------------------------------------------------*/
/*BACKGROUND*/
	#bodyHome{background:url(background.jpg); background-size:99%;}
/*TITULO PRINCIPAL DA INDEX*/	
	.tituloHome{
		font-family:"courier","serif";
		color:#0fd5e0;
		font-size:70px;
		text-align:center;
	}
/*LINK DADOS DA EMPRESA*/

/*BOTOES PAGINA INDEX*/
	#bodyHome h3{margin-left:35%;margin-top:7%;}
	#bodyHome a{text-decoration:none;}
	.bodyA{color:#83f2df;display: flex;justify-content: flex-end;font-size:20px;}
	
	#divHome{margin-left:7%;margin-top:8%;}	
	#divHome a:link { background: -webkit-linear-gradient(bottom, #83f2df, #0fd5e0 70%);
     background: -moz-linear-gradient(bottom, #83f2df, #0fd5e0 70%);
     background: -o-linear-gradient(bottom, #83f2df, #0fd5e0 70%);
     background: -ms-linear-gradient(bottom, #83f2df, #0fd5e0 70%);
     background: linear-gradient(bottom, #83f2df, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 3, .3),  0 2px 7px rgba(0, 0, 0, 0.2);         
     color: #616165;
     font-family: "Trebuchet MS";
     font-size: 34px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 55px;
     position: relative;
	}
	
	#divHome a:hover {background: -webkit-linear-gradient(bottom, #fdeed7, #83f2df 70%);
     background: -moz-linear-gradient(bottom, #fdeed7, #83f2df 70%);
     background: -o-linear-gradient(bottom, #fdeed7, #83f2df 70%);
     background: -ms-linear-gradient(bottom, #fdeed7, #83f2df 70%);
     background: linear-gradient(bottom, #fdeed7,#83f2df 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     font-family: "Trebuchet MS";
     font-size: 34px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 55px;
     position: relative;
    }

	#divHome a:before{
     border: 1px solid #FFF;
     border-radius: 3px;
     box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, .2),
	 inset 0 3px 2px -1px rgba(255, 255, 255, 1);
     content: "";
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
     padding: 5px;
     position: absolute;
    }
 
    #divHome a:after{
     background: rgba(255, 255, 255, .4);
     border-radius: 2px;
     content: "";
     bottom: 15px;
     left: 0px;
     right: 0px;
     top: 0px;
     position: absolute;
    }
	
	#divHome a:active{
     box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);
     top: 4px;
    }
	
    #divHome a:active:before{
     border: none;
     box-shadow:none;
    }

/*------------------------------------------------------------------------------*/
/*                          ESTILIZACAO DA LISTAGEM                             */
/*------------------------------------------------------------------------------*/
/*BACKGROUND*/
	#bodyLista{background-color:rgb(42, 48, 44,0.4);color:white;}
	#bodyLista{background:url(./imagens_sistema/8805.jpg);color:white; background-size:100%;}
	
	

/*ESTILIZACAO DA BARRA DE ROLAGEM*/
	::-webkit-scrollbar {
	width:12px;
	height: 12px;
	}
	::-webkit-scrollbar-track {
	background:#333;
	}
	::-webkit-scrollbar-thumb {
	background: #2e9dd8;
	background: -moz-linear-gradient(top, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
	background: -webkit-linear-gradient(top, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
	background: linear-gradient(to bottom, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
	}
	::-webkit-scrollbar-thumb:horizontal {
	background: #2e9dd8;
	background: -moz-linear-gradient(left, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
	background: -webkit-linear-gradient(left, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
	background: linear-gradient(to right, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
	}
	::-webkit-scrollbar-button{
		
		background:#1f6bcf;
	}

	
/*FAIXA ACIMA DA LISTAGEM*/
	#h2_barra{width:100%;}
/*ESTILOS DA LISTAGEM*/
	#excluirR {text-align:center;}
	#alterarR {text-align:center;}
	#excluirR a{text-decoration: none;color:#e0241a;font-weight: bold;}
	#alterarR a{text-decoration: none;color:#e0241a;font-weight: bold;}
/*PESQUISA*/
	#h3_pesquisar{color:#f0f0f0;font-family: 'Merriweather', serif;font-size:25px;text-align:center;}
	.barra_pesquisa{color:#fff;font-family: 'Merriweather', serif;font-size:15px;}
	#DivPesquisar{float:left;width:100%;margin-bottom:2%;}
	#RazaoSocial{float:left;}
	#Nome{float:left;}
	#UF{float:left;}
	#select{float:left;margin-top:4.6%;}
	#p_pesquisa{float:left;width:13%;margin-top:4.6%;font-size:20px;}
	.barra_interna1,.barra_interna2{background:#f0f0f0;height:24.5px;}
	.barra_interna3{background:#f0f0f0;height:24.5px;width:10%}
	.butnPesquisa {
	-moz-box-shadow: 3px 1px 23px 0px #1d9e93;
	-webkit-box-shadow: 3px 1px 23px 0px #1d9e93;
	box-shadow: 3px 1px 23px 0px #1d9e93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1f40c2), color-stop(1, #17e8de));
	background:-moz-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-webkit-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-o-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-ms-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:linear-gradient(to bottom, #1f40c2 5%, #17e8de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f40c2', endColorstr='#17e8de',GradientType=0);
	background-color:#1f40c2;
	-moz-border-radius:12px;
	-webkit-border-radius:9px;
	border-radius:3px;
	border:2px solid #4ce3e8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 7px;
	text-decoration:none;
	text-shadow:0px 1px 3px #e1e2ed;
	height:24px;
	}
	.butnPesquisa:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #17e8de), color-stop(1, #1f40c2));
	background:-moz-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-webkit-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-o-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-ms-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:linear-gradient(to bottom, #17e8de 5%, #1f40c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#17e8de', endColorstr='#1f40c2',GradientType=0);
	background-color:#17e8de;
	}
	.butnPesquisa:active {
	position:relative;
	top:1px;
	}
/*BOTAO INCLUIR NA PAGINA LISTA*/
	.butn {
	-moz-box-shadow: 3px 1px 23px 0px #1d9e93;
	-webkit-box-shadow: 3px 1px 23px 0px #1d9e93;
	box-shadow: 3px 1px 23px 0px #1d9e93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1f40c2), color-stop(1, #17e8de));
	background:-moz-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-webkit-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-o-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-ms-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:linear-gradient(to bottom, #1f40c2 5%, #17e8de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f40c2', endColorstr='#17e8de',GradientType=0);
	background-color:#1f40c2;
	-moz-border-radius:12px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #4ce3e8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 3px #e1e2ed;
	height:40px;
	}
	.butn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #17e8de), color-stop(1, #1f40c2));
	background:-moz-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-webkit-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-o-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-ms-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:linear-gradient(to bottom, #17e8de 5%, #1f40c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#17e8de', endColorstr='#1f40c2',GradientType=0);
	background-color:#17e8de;
	}
	.butn:active {
	position:relative;
	top:1px;
	}
/*BOTOES DE PAGINAS E SETAS NO RODAPE*/

	#botao_paginacao{
	font-family: 'Merriweather', serif; 
	display: flex;
	align-items: center;
    justify-content: center}
	#botao_paginacao a,span{text-align:center;vertical-align:center;}
	.botao_paginacao{float:left;color:#fff;font-size:13px;}
	.botao_paginacao{background:#f0f0f0;}
	.botao_paginacao {
	-moz-box-shadow: 3px 1px 23px 0px #1d9e93;
	-webkit-box-shadow: 3px 1px 23px 0px #1d9e93;
	box-shadow: 3px 1px 23px 0px #1d9e93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1f40c2), color-stop(1, #17e8de));
	background:-moz-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-webkit-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-o-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:-ms-linear-gradient(top, #1f40c2 5%, #17e8de 100%);
	background:linear-gradient(to bottom, #1f40c2 5%, #17e8de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f40c2', endColorstr='#17e8de',GradientType=0);
	background-color:#1f40c2;
	-moz-border-radius:12px;
	-webkit-border-radius:9px;
	border-radius:3px;
	border:2px solid #4ce3e8;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 3px #e1e2ed;
	height:18px;
	width:14px;
	margin-left:2px;
	margin-right:2px;
	}
	.botao_paginacao:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #17e8de), color-stop(1, #1f40c2));
	background:-moz-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-webkit-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-o-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:-ms-linear-gradient(top, #17e8de 5%, #1f40c2 100%);
	background:linear-gradient(to bottom, #17e8de 5%, #1f40c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#17e8de', endColorstr='#1f40c2',GradientType=0);
	background-color:#17e8de;
	text-align:center;
	}
	.botao_paginacao:active {
	position:relative;
	top:1px;
	text-align:center;
	}
	
	
/*SETAS QUANDO NAO TEM PRA ONDE IR*/
	.tc{float:left;width:50%;color:#000;font-family: 'Merriweather', serif;font-size:13px;}
	.tc{background:#f0f0f0;text-align:center;vertical-align:center;}
	.tc {text-align:center;
	-moz-box-shadow: 3px 1px 23px 0px #1d9e93;
	-webkit-box-shadow: 3px 1px 23px 0px #1d9e93;
	box-shadow: 3px 1px 23px 0px #1d9e93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1f40c2), color-stop(1, #17e8de));
	background:-moz-linear-gradient(top,#d1c4ab 5%, #f0f0f0 100%);
	background:-webkit-linear-gradient(top,#1f40c2 5%, #f0f0f0 100%);
	background:-o-linear-gradient(top, #1f40c2 5%, #f0f0f0 100%);
	background:-ms-linear-gradient(top, #1f40c2 5%, #f0f0f0 100%);
	background:linear-gradient(to bottom,#1f40c2 5%, #f0f0f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f40c2', endColorstr='#17e8de',GradientType=0);
	background-color:#1f40c2;
	-moz-border-radius:12px;
	-webkit-border-radius:9px;
	border-radius:3px;
	border:2px solid #4ce3e8;
	display:inline-block;
	-webkit-text-stroke-width: 0.7px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 3px #e1e2ed;
	height:18px;
	width:14px;
	margin-left:2px;
	margin-right:2px;
	}
	
/*CENTRALIZANDO ALGUNS CAMPOS DA LISTA*/	
	.nome{text-align:center;}

/*------------------------------------------------------------------------------*/
/*                    ESTILIZACAO DA LISTAGEM DE PESQUISA                       */
/*------------------------------------------------------------------------------*/
/*BODY DE PESQUISA*/
	#bodyPesquisa{background:#b7c9c8;}
/*TAMANHO DA TABELA*/	
	table {
	width: 100%;
	border-collapse: collapse;
	}
/*SUBLINHADO E COR DA FONTE DA TABELA*/
	table a{text-decoration:none;color:black;}
	table{color:black;}
/*CORPO DA TABELA*/
	th {
	background-color:#00d8cc;
	font-size: 12px;
	color:#484848;
	padding-left:4px;
	padding-right:4px;
	border-bottom:solid 1px #CCC;
	height:26px;
	padding-right:5px;
		}
	tr:nth-child(odd) {
			background-color:#F3F3F3;
	}

	tr:nth-child(even) {
			background-color:#FFF;

	}

	tr, td {
	height:36px;
	padding-left:4px;
	padding-right:2px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	white-space:nowrap;
	border-bottom:solid 1px #E1E1E1;
	}
	tr:hover{background-color:#cce8de;color:red;}
	tr a:hover {
	cursor:pointer;color:red;
	}
	#barra_rolagem{max-width:100%;overflow:auto;}
	
	
	
	
/*------------------------------------------------------------------------------*/
/*             ESTILIZACAO DO FORMULARIO DE CADASTRO E ALTERACAO                */
/*------------------------------------------------------------------------------*/
/*BODY DE CADASTRO E ALTERACAO*/
#body_cadastro{background:url(./imagens_sistema/17497.jpg); background-size:250%;font-family: 'Merriweather', serif;color:#cce8de;font-size:20px;}
#body_alterar_cadastro{background:url(./imagens_sistema/17497.jpg); background-size:250%;font-family: 'Merriweather', serif;color:#cce8de;font-size:20px;}
#body_gravar_alteracao{font-size:45px;}
#body_gravar{font-size:45px;}
/*ESSA É A COFIGURACAO DO FIELDSET E LEGEND*/
		fieldset{width:83%; margin:0 auto;background:#121735;opacity:0.85;}
		legend{font-size:30px;color:#e4ff38;font-family: 'Merriweather', serif;}
/*AQUI EU DETERMINEI A ALTURA E A DISTÂNCIA ENTRE O NOME DO CAMPO E A ÁREA DE PREENCHIMENTO DO FORMULARIO*/
		input{height:25px; margin:10px auto;}
		select{height:25px; margin:10px auto;}
		textarea{width:100%;}
		.nome{width:85%;}
		.razaoSocial{width:77%;}
		.cnpj{width:30%;}
		.cidade{width:30%;}
		.telefone{width:15%;}
		.celular{width:36%;}
		.checkbox_celular1{display: table-cell;
			vertical-align: middle;}
		.checkbox_celular2{display: table-cell;
			vertical-align: middle;}
		#dados p{display: table-cell;
			vertical-align: middle;font-size:19px;}
		
/*MENSAGENS DE EXCLUIDO,RECEBIDO E ATUALIZADO*/
		.menssagemReceb {text-align:center;background:url(./imagens_sistema/backgroundsucesso.jpg)no-repeat;background-size:15%;height:25%;font-size:30px;}
		.menssagemAt {text-align:center;background:url(./imagens_sistema/backgroundsucesso.jpg)no-repeat;background-size:55%;height:65%;}
		.menssagemAterro {text-align:center;background:url(./imagens_sistema/backgrounderro.jpg)no-repeat;background-size:55%;height:81%;font-size:40px;}
		.menssagemAterro2 {background:url(./imagens_sistema/backgrounderro.jpg)no-repeat;background-size:10%;height:15%;font-size:30px;padding-left:14%;color:white;}
		.contLinhas {font-size:30px; color:white;font-family:"courier","serif";}		
		.dados_recebidos{font-size:20px;font-family: 'Merriweather', serif;}
		
		
		
		
/*CRIEI UMA DIV COM ID = BOTÕES DENTRO ESTÁ OS IMPUTS SUBMIT,RESET,BUTTON PARA QUE PUDESSE CETRALIZAR */
		#botoes{float:top;
		display:block;
		width:100%;
		text-align:center;}
		
/*RODAPE*/
.rodape{background:#f0f0f0;width:100%;color:navy;margin-top:3%;}

/*TITULO DO FORMULARIO */
		.titulo{font-family:"courier","serif";
			color:#a4f41a;
			font-size:60px;
			text-align:center;	
		}


#bodyEmpresa{background:url(./imagens_sistema/background_dados.jpg)no-repeat;background-size:130%;display: flex;
		align-items: center;justify-content:center;}
#divEmpresa{text-align:center;background:rgb(0, 0, 0,0.7);padding:5%;font-family: 'Amaranth', sans-serif;color:white;}
















	
